<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hangouts.DataAccess.Properties.Settings.HangoutsConnectionString"
            connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts;Persist Security Info=True;User ID=ankur;Password=Ankur@4636"
            providerName="System.Data.SqlClient" />
        <add name="Hangouts.DataAccess.Properties.Settings.Hangouts_devConnectionString"
            connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts_dev;Persist Security Info=True;User ID=ankur;Password=Ankur@3646"
            providerName="System.Data.SqlClient" />
        <add name="Hangouts.DataAccess.Properties.Settings.HangoutsConnectionString1"
            connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts;Persist Security Info=True;User ID=ankur;Password=Ankur@3646"
            providerName="System.Data.SqlClient" />
        <add name="Hangouts.DataAccess.Properties.Settings.HangoutsConnectionString2"
            connectionString="Data Source=108.58.151.10,1433;Initial Catalog=Hangouts;Persist Security Info=True;User ID=hangoutsadmin;Password=Wineoutlet@99666"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>